/* GLOBAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
/* HEADER */
header {
    background-color: #D0454A;
    width: 100%;
    height: 150px;
    color: #FFF3F5;
    padding-top: 1%; 
}
.header-text {
    width: 40%;
    margin: auto;
    padding-top: 1.5%;   
}
header .header-text .header-dimensions {
    display: inline-block;
    font-size: 1.5em;
}
header .header-text .header-title {
    text-align: center;
    display: inline-block;
    margin-left: 25%;
    font-size: 2em;
}
/* MAIN */
main .main-section {
    width: 100%;
    height: 75vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #FFF3F5;
    text-align: center;
}
main .main-section .left, .right {
    background-color: #CD7E80;
    width: 600px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
main .main-section .middle {
    background-color: #599FC0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

main .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2%;
}
main .main-section .main-section-text {
    font-size: 2em;
}
main .main-section .main-dimensions {
    font-size: 1.3em;
   
}

/* FOOTER */
footer {
    background-color: #D0454A;
    width: 100%;
    height: 100px; 
    color: #FFF3F5;
}

footer .footer-text {
    width: 40%;
    margin: auto;
    padding-top: 1%;
}

footer .footer-text .footer-text {
    font-size: 2em;
    margin-left: 31%;
    text-align: center;
    display: inline-block;
}
footer .footer-text .footer-dimensions {
    font-size: 1.3em;
    display: inline-block;
}

